

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    font-family: sans-serif;


    h2 {
        width: 100%;
        text-align: center;
    }
}

.background {
    width: 100%;
    height: 100%;
    background: rgba(59, 89, 152, .6);
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    box-sizing: border-box;
    padding: 24px;
    border-radius: 10px;
    background: brown;
    z-index: 1;
    color: aliceblue;


}

.modal_head {
    display: flex;
    flex-direction: row;

}