.top {
  position: fixed;
  background: aqua;
  width: 100vw;
  height: 1vh;
  z-index: 1;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0;

  h2{

    display: flex;
    align-items: center;
  }

}