.App {
  display: flex;
  flex-direction: column;
  gap: 50px

}

main {
  margin-top: 60px;
  min-height: calc(100vh - 50px);
  box-sizing: border-box;
  padding: 24px;
}


nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 5px;


  a {
    text-decoration: none;
    cursor: pointer;
    color: #3b7398;
    text-align: center;
    box-sizing: border-box;
    padding: 0 12px;
    filter: brightness(.9);

    &
    :hover {
      filter: brightness(1);
    }

    &.active {
      color: #903196FF;
      cursor: default;
    }

  }
}

